body{
    background-color:#F6F6F6;
    background-image:url(Backgroundimgae.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}
 a:link{
    text-decoration:none;
    color: black;
}
 a:visited{
    text-decoration:none;
    color: black;
}
 a:hover{
    text-decoration:underline;
    color: black;
}
 a:active{
    text-decoration: underline;
    color: black;
}
h5 {
    font-size: 25px;
}
h6 {
    font-size: 15px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }

.button{
    font-size: 20px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 15px 32px;
    border-radius: 30px;
    background-color: black;
    border: 2px solid black;
    color: #F6F6F6;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

.button:hover{
    background-color: #f6f6f600;
    color: black;
    cursor: pointer;
}
.wrapper {
    width: 100%;
    height: 70px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 300px;
  }

#box{
    padding: 50px;
    border: 2px solid black;
    line-height: 50px;
}
#avatar{
    border-radius: 50%;
    width: 145px;
}
.fixed{
    position: fixed;
    bottom: 10px;
    right:10px;
}
